<nav class="custom-nav">
    <div class="nav-container">
        {% comment %} left item {% endcomment %}
            <div class="nav-item nav-left">
                <a href="/" class="logo logo-text">
                    {{ section.settings.logo_text }}
                </a>
            </div>


        {% comment %} center item {% endcomment %}
            <div class="nav-item nav-center">
                <span class="promo-text">
                    {{ section.settings.promo_text }}
                </span>
            </div> 
         
        {% comment %} right item {% endcomment %}
            <div class="nav-item nav-right">
                <a href="/" class="cta-btn-theme-btn">
                    <span class="cta-btn-text">
                    {{ section.settings.cta_text }}
                    </span>
                    <span class="cta-btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 26 12" fill="none">
                            <path d="M0.75 4.77298L7.37629e-08 4.77298L-7.37629e-08 6.27298L0.75 6.27298L0.75 4.77298ZM25.2803 6.05331C25.5732 5.76042 25.5732 5.28554 25.2803 4.99265L20.5074 0.21968C20.2145 -0.073213 19.7396 -0.0732131 19.4467 0.21968C19.1538 0.512574 19.1538 0.987447 19.4467 1.28034L23.6893 5.52298L19.4467 9.76562C19.1538 10.0585 19.1538 10.5334 19.4467 10.8263C19.7396 11.1192 20.2145 11.1192 20.5074 10.8263L25.2803 6.05331ZM0.75 6.27298L24.75 6.27298L24.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="black"/>
                        </svg>
                    </span>
                </a>
            </div>

    </div>
</nav>

{% schema  %} 
{
    "name":"Custom Header",
        "settings": [
            {
                "type": "text",
                "id": "logo_text",
                "label": "Logo text",
                "default": "Tisso Vision"
            },
            {
                "type": "text",
                "id": "promo_text",
                "label": "Promo text",
                "default": "Find the ideal gift for your loved ones."
            },
            {
                "type": "text",
                "id": "cta_text",
                "label": "CTA Button Text",
                "default": "Choose Gift"
            },
            {
                "type": "url",
                "id": "cta_btn_url",
                "label": "CTA Button Url"
            }
        ]
}

{% endschema %}